<footer class="c-site-footer">
    <div class="o-wrapper u-content-center u-muted">

        <ul class="o-list-inline u-mb0">
            <li>
                &copy; 2017 &middot; Adventgemeinde Mannheim
            </li>
            <li data-delimiter="&middot ">
                <a class="c-link c-link--white" href="/impressum/">Impressum</a>
            </li>
            <li data-delimiter="&middot ">
                <a class="c-link c-link--white" href="/datenschutz/">Datenschutzerkl&auml;rung</a>
            </li>
        </ul>

        <hr class="u-mv-">

        <p>
            <small>Lorem ipsum dolor sit amet, consectetur.</small>
        </p>

    </div>
</footer>
