<a id="skip-link" class="u-hidden-visually" href="#content">Skip to content</a>

<header id="menu" class="c-site-header">
    <div class="o-wrapper c-site-header__wrapper">

        <div class="c-site-header__left">

            <a class="c-site-header__logo u-center" href="{{ site.baseurl }}/">
                <img class="site-logo" src="/assets/img/logo-text.svg" alt="">
            </a>

        </div>

        <div class="c-site-header__right u-center">

            {% include nav.html %}

        </div>

    </div>
</header>

{% include nav-mobile.html %}
