/* ==========================================================================
   #NAV
   ========================================================================== */

.c-nav {
    margin: 0;
    list-style: none;
    font-family: $font-secondary;

    &--horizontal {
        font-size: 120%;
        white-space: nowrap;
    }

    &--vertical {
        display: block;
        padding: 0 $unit;
        text-align: center;
    }
}

    .c-nav__item {
        display: inline-block;
        position: relative;

        > a {
            display: inline-block;
            padding: $unit-small;
            color: $c-primary;
        }

        .c-nav--vertical & {
            display: block;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }

            > a {
                display: block;
            }
        }

        .c-nav--underscore & {
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scaleX(0);
                transition: $global-transition transform;
                background-color: $c-primary;
                width: 100%;
                height: 4px;
                content: "";
            }

            &:hover:after {
                transform: scaleX(1);
            }
        }

        .c-nav--animated & {
            transform: translateY(1em);
            opacity: 0;

            .is-visible & {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }


/**
 * List element animation
 */
$delay: 0;

@for $i from 1 through 5 {
    .c-nav__item:nth-child(#{$i}) {
        transition: $global-transition #{$delay}s;
    }

    $delay: $delay + .06;
}
