/* ==========================================================================
   #CALLOUT
   ========================================================================== */

.c-callout {
    border-radius: $global-radius;
    box-shadow: 0 5px 20px rgba($c-black, .1);
    background-image: $gradient-primary;
    padding: 5px;
    text-align: center;
    font-size: 1.5vw;

    &--ev2017 {
        position: absolute;
        top: 22vw;
        left: 4%;
        transform: rotateZ(-10deg);
        width: 26vw;
    }
}

    .c-callout__inner {
        background-color: $c-white;
        padding: $unit-small $unit;
    }
