/* ==========================================================================
   #SITE-FOOTER
   ========================================================================== */

.c-site-footer {
    width: 100%;
    background-color: $c-dark;
    padding: $unit 0;
    color: $c-white;
}
