///* ========================================================================
//   #COLORS
//   ======================================================================== */

/**
 * Brand Colors
 */

$c-primary:         #31567d;
$c-primary-light:   lighten($c-primary, 8%);
$c-primary-dark:    darken($c-primary, 10%);

$c-secondary:       #e1652d;
$c-secondary-light: lighten($c-secondary, 8%);
$c-secondary-dark:  darken($c-secondary, 10%);

$c-white:       #fff;
$c-gray-1:      #f8f8f8;
$c-gray-2:      #f0f0f0;
$c-gray-3:      #e8e8e8;
$c-gray-4:      #b6b6b6;
$c-gray-5:      #8e8e8e;
$c-gray-6:      #666;
$c-gray-7:      #4d4d4d;
$c-gray-8:      #333;
$c-gray-9:      #262626;
$c-black:       #000;

$c-dark:        $c-gray-8;
$c-light:       #eee8e2;
$c-green:       #39b54a;
$c-red:         #ed1c24;

/**
 * Semantics
 */
// Semantic color variables are daisy-chained onto their literal names.

$c-text:                        $c-gray-8;
$c-textalt:                     $c-gray-6;
// $c-textmuted:                   rgba($c-gray-8, .45);
$c-textmuted:                   $c-gray-5;
$c-accent:                      $c-primary;
$c-background:                  $c-gray-1;
$c-background-transparent:      rgba($c-black, .04);
$c-border:                      $c-gray-2;

$c-link:                        $c-primary;
$c-link-hover:                  $c-primary-dark;

/**
 * Gradients
 */
// $gradient-primary-light:            $c-primary;
// $gradient-primary-dark:             $c-secondary;

$gradient-primary:                  linear-gradient(135deg, $c-primary 0%, $c-primary-dark 100%);
// $gradient-primary-hover:            linear-gradient(135deg, darken($gradient-primary-light, 1%) 0%, darken($gradient-primary-dark, 5%) 100%);

// $gradient-secondary-light:          $c-secondary;
// $gradient-secondary-dark:           darken($c-secondary, 15%);

$gradient-secondary:                linear-gradient(135deg, $c-secondary-light 0%, $c-secondary-dark 100%);
// $gradient-secondary-hover:          linear-gradient(135deg, darken($gradient-secondary-light, 1%) 0%, darken($gradient-secondary-dark, 5%) 100%);







